<%= content_for :title do %>
  <%= t(".title") %>
<% end %>

<div class="p-4 md:p-8 rounded shadow-small">
  <h1 class="text-center leading-none mb-6"><%= t(".title") %></h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, wrapper: :form) do |f| %>
    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :locale, collection: I18n.available_locales.map(&:to_s), include_blank: false, include_hidden: false %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off",
        hint: t(".leave_blank_if_you_don_t_want_to_change_it"), required: false,
        label: t(".new_password") %>
    <%= f.input :password_confirmation, required: false, label: t(".new_password_confirmation") %>
    <%= f.input :current_password, hint: t(".we_need_your_current_password_to_confirm_your_changes"), required: true %>

    <%= f.button :submit, t(".update"), class: "w-full" %>
  <% end %>

  <div class="border-t my-8"></div>

  <div class="text-center">
    <h3 class="mt-4"><%= t(".delete_my_account") %></h3>
    <%= link_to t(".delete_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete, class: "text-red" %>
  </div>
</div>