<%= content_for :title do %>
  <%= t(".title") %>
<% end %>

<div class="mw7 black-70 ph3 ph5-ns mt5 mb6">
  <h1 class="f2">
    <%= t(".title") %>
    <div class="dib v-mid f3 bg-light-gray pv1 ph3 br-pill">
      <%= @incoming_packages.count %>
    </div>
  </h1>

  <%= form_with url: admin_incoming_packages_path, local: true do |form| %>
    <%= form.text_field :tracking, required: true, autofocus: true, autocomplete: :off %>
    <%= form.submit t(".submit"), class: "button is-success" %>
  <% end %>

  <div class="mt3">
    <%= render @incoming_packages %>
  </div>
</div>