<div class="w-full flex justify-between items-center px-8 py-2">
  <div class="flex items-center">
    <%= link_to root_path, class: "mt-1 logo" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="fill-current stroke-current w-8 h-8 mr-1" viewBox="0 0 230 230">
        <path d="M89.218357 60.029672c-8.756308-.681079-14.691165-.875664-21.647544-.681133-6.956379.19453-14.934382.778287-23.204213 2.042998-8.269832 1.264712-16.831593 3.210567-22.18307 7.296393-5.351477 4.085826-7.491916 10.312559-6.957106 16.296495.534809 5.983936 3.74547 11.724209 9.157571 18.401185 5.412101 6.67698 13.209332 14.47421 21.65475 21.36291 8.445419 6.88869 17.688225 13.01813 26.882424 18.75842 9.194199 5.74028 18.339714 11.09138 26.220472 15.42092 7.880759 4.32953 14.498409 7.63836 12.990659 5.69298-1.50776-1.94538-11.14229-9.14695-19.898693-16.34665-8.756403-7.1997-16.637113-14.39936-23.009834-20.52884-6.372722-6.12949-11.237329-11.18868-16.393915-17.95064-5.156586-6.76196-10.604978-15.226431-11.236812-21.648137-.631833-6.421707 3.551755-10.79988 8.221914-13.766977 4.670159-2.967097 9.833086-4.525716 16.05659-5.984066 6.223505-1.45835 13.52046-2.820448 22.909152-3.695993 9.388692-.875545 20.869208-1.264714 20.820498-2.042996-.04872-.778281-11.626535-1.945791-20.382843-2.626869z" /><path d="M50.009061 36.436223c10.604038 1.89706 23.642319 4.329576 35.317081 6.761827 11.674762 2.432252 21.988448 4.864726 32.155178 7.345606 10.16673 2.480879 20.18857 5.010664 28.06922 7.345707 7.88064 2.335042 13.62091 4.475482 20.18811 7.248321 6.56719 2.772839 13.96145 6.17809 22.03655 11.820991 8.0751 5.6429 16.77351 13.47146 21.22959 23.019747 4.45608 9.548288 4.55273 20.565458 1.05033 31.268358-3.50239 10.70291-10.60155 21.01127-10.26085 21.44929.34071.43802 8.12117-8.99578 13.27743-17.6549 5.15627-8.65912 7.68587-16.53982 8.75586-22.66912 1.06999-6.1293.68082-10.50747-.19488-14.253025-.8757-3.745551-2.2378-6.858921-4.23227-10.361334-1.99447-3.502414-4.59691-7.357873-7.88644-10.892878-3.28953-3.535004-7.14489-6.619295-12.39867-9.78133-5.25378-3.162035-11.86953-6.37262-19.3126-9.388782-7.44306-3.016163-15.71183-5.837273-24.51738-8.269787-8.80555-2.432513-18.14498-4.475513-28.16652-6.324159-10.02154-1.848646-20.72207-3.502364-31.960209-5.010529-11.238134-1.508164-23.008885-2.870069-34.782051-3.891733-11.773165-1.021665-23.544032-1.702624-25.34413-1.362037-1.800097.340588 6.372614 1.702706 16.976651 3.599767z" /><path d="M51.905819 164.13294c8.026688 6.51861 15.421019 11.09142 22.134223 14.59393 6.713204 3.50251 12.745581 5.93493 21.0639 7.15098 8.318318 1.21606 18.924128 1.21606 28.798998-1.36229 9.87488-2.57835 19.02126-7.73535 27.16693-13.69361 8.14566-5.95826 15.39901-12.81954 24.15522-24.05694 8.7562-11.2374 19.06923-26.90152 20.86906-27.97176 1.79984-1.07024-4.91215 12.45103-10.11822 22.61993-5.20606 10.16891-8.90252 16.97818-13.12161 23.14119-4.21909 6.16302-9.01143 11.73778-13.19584 15.97102-4.1844 4.23324-7.78344 7.15138-12.19804 10.18957-4.41459 3.03818-9.49818 6.10751-16.21235 8.24836-6.71417 2.14085-14.98216 3.3081-23.10685 2.91896-8.12469-.38914-16.101609-2.33473-23.204493-5.351-7.102885-3.01626-13.329063-7.10219-19.65333-12.30755-6.324266-5.20535-12.745337-11.52913-19.170414-18.91307-6.425077-7.38393-12.933306-15.93205-11.846557-15.98137 1.086748-.0493 9.612684 8.28503 17.639373 14.80365z" />
      </svg>
      <span class="hidden md:block text-xl tracking-tight"><%= SiteSetting.first.site_name %></span>
    <% end %>

    <% unless user_signed_in? %>
      <div class="h-6 mt-2 ml-2">
        <%= link_to({ locale: "ru" }, class: "mr-1 hover:no-underline") do %>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48" style="fill:#000000;"><g id="surface1"><path style=" fill:#FF3D00;" d="M 2 29 L 46 29 L 46 39 L 2 39 Z "></path><path style=" fill:#3F51B5;" d="M 2 19 L 46 19 L 46 29 L 2 29 Z "></path><path style=" fill:#E0E1E2;" d="M 2 9 L 46 9 L 46 19 L 2 19 Z "></path></g></svg>
        <% end %>
        <%= link_to({ locale: "en" }, class: "hover:no-underline") do %>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48" style="fill:#000000;"><g id="surface1"><path style=" fill:#ECEFF1;" d="M 1.996094 10 L 45.996094 10 L 45.996094 37 L 1.996094 37 Z "></path><path style=" fill:#F44336;" d="M 2 10 L 46 10 L 46 13 L 2 13 Z "></path><path style=" fill:#F44336;" d="M 2 16 L 46 16 L 46 19 L 2 19 Z "></path><path style=" fill:#F44336;" d="M 2 22 L 46 22 L 46 25 L 2 25 Z "></path><path style=" fill:#F44336;" d="M 2 28 L 46 28 L 46 31 L 2 31 Z "></path><path style=" fill:#F44336;" d="M 2 34 L 46 34 L 46 37 L 2 37 Z "></path><path style=" fill:#3F51B5;" d="M 2 10 L 23 10 L 23 25 L 2 25 Z "></path><path style=" fill:#FFFFFF;" d="M 4.25 12 L 4.714844 12.988281 L 5.75 13.144531 L 5 13.914063 L 5.179688 15 L 4.25 14.488281 L 3.320313 15 L 3.5 13.914063 L 2.75 13.144531 L 3.785156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 8.25 12 L 8.714844 12.988281 L 9.75 13.144531 L 9 13.914063 L 9.179688 15 L 8.25 14.488281 L 7.320313 15 L 7.5 13.914063 L 6.75 13.144531 L 7.785156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 12.25 12 L 12.714844 12.988281 L 13.75 13.144531 L 13 13.914063 L 13.179688 15 L 12.25 14.488281 L 11.320313 15 L 11.5 13.914063 L 10.75 13.144531 L 11.785156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 16.25 12 L 16.714844 12.988281 L 17.75 13.144531 L 17 13.914063 L 17.179688 15 L 16.25 14.488281 L 15.320313 15 L 15.5 13.914063 L 14.75 13.144531 L 15.785156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 20 12 L 20.464844 12.988281 L 21.5 13.144531 L 20.75 13.914063 L 20.929688 15 L 20 14.488281 L 19.070313 15 L 19.25 13.914063 L 18.5 13.144531 L 19.535156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 4.25 20 L 4.714844 20.988281 L 5.75 21.144531 L 5 21.914063 L 5.179688 23 L 4.25 22.488281 L 3.320313 23 L 3.5 21.914063 L 2.75 21.144531 L 3.785156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 8.25 20 L 8.714844 20.988281 L 9.75 21.144531 L 9 21.914063 L 9.179688 23 L 8.25 22.488281 L 7.320313 23 L 7.5 21.914063 L 6.75 21.144531 L 7.785156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 12.25 20 L 12.714844 20.988281 L 13.75 21.144531 L 13 21.914063 L 13.179688 23 L 12.25 22.488281 L 11.320313 23 L 11.5 21.914063 L 10.75 21.144531 L 11.785156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 16.25 20 L 16.714844 20.988281 L 17.75 21.144531 L 17 21.914063 L 17.179688 23 L 16.25 22.488281 L 15.320313 23 L 15.5 21.914063 L 14.75 21.144531 L 15.785156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 20 20 L 20.464844 20.988281 L 21.5 21.144531 L 20.75 21.914063 L 20.929688 23 L 20 22.488281 L 19.070313 23 L 19.25 21.914063 L 18.5 21.144531 L 19.535156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 5.25 16 L 5.714844 16.988281 L 6.75 17.144531 L 6 17.914063 L 6.179688 19 L 5.25 18.488281 L 4.320313 19 L 4.5 17.914063 L 3.75 17.144531 L 4.785156 16.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 9.25 16 L 9.714844 16.988281 L 10.75 17.144531 L 10 17.914063 L 10.179688 19 L 9.25 18.488281 L 8.320313 19 L 8.5 17.914063 L 7.75 17.144531 L 8.785156 16.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 13.25 16 L 13.714844 16.988281 L 14.75 17.144531 L 14 17.914063 L 14.179688 19 L 13.25 18.488281 L 12.320313 19 L 12.5 17.914063 L 11.75 17.144531 L 12.785156 16.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 17.25 16 L 17.714844 16.988281 L 18.75 17.144531 L 18 17.914063 L 18.179688 19 L 17.25 18.488281 L 16.320313 19 L 16.5 17.914063 L 15.75 17.144531 L 16.785156 16.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 21 16 L 21.464844 16.988281 L 22.5 17.144531 L 21.75 17.914063 L 21.929688 19 L 21 18.488281 L 20.070313 19 L 20.25 17.914063 L 19.5 17.144531 L 20.535156 16.988281 Z "></path></g></svg>
        <% end %>
      </div>
    <% end %>

    <span id="tippy-navbar" class="cursor-pointer h-6 mt-1 ml-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-6 h-6" viewBox="0 0 512 512"><path d="M432 176H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h352c8.8 0 16 7.2 16 16s-7.2 16-16 16zM432 272H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h352c8.8 0 16 7.2 16 16s-7.2 16-16 16zM432 368H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h352c8.8 0 16 7.2 16 16s-7.2 16-16 16z"/></svg>
    </span>
    <div id="tippy-navbar-template" style="display: none;">
      <ul class="list-reset text-lg">
        <li><%= link_to t("navbar.services"), page_path(slug: "services") %></li>
        <li><%= link_to t("navbar.about_us"), page_path(slug: "about-us") %></li>
        <li><%= link_to t("navbar.pricing"), page_path(slug: "pricing") %></li>
        <li><%= link_to t("navbar.terms"), page_path(slug: "terms-and-conditions") %></li>
        <li><%= link_to t("navbar.working_hours"), page_path(slug: "working-hours") %></li>
        <li><%= link_to "Новости", news_index_path %></li>
        <li><%= link_to t("navbar.contact_us"), contacts_path %></li>
        <li class="hidden"><%= link_to "Stores", stores_path %></li>
      </ul>
    </div>
  </div>

  <nav class="flex items-center">
    <% unless current_user && (current_user.admin? || current_user.super_admin?) %>
      <%= link_to find_tracking_path, class: "flex items-center text-black mr-3" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-5 w-5 mr-1" viewBox="0 0 512 512"><path d="M443.5 420.2L336.7 312.4c20.9-26.2 33.5-59.4 33.5-95.5 0-84.5-68.5-153-153.1-153S64 132.5 64 217s68.5 153 153.1 153c36.6 0 70.1-12.8 96.5-34.2l106.1 107.1c3.2 3.4 7.6 5.1 11.9 5.1 4.1 0 8.2-1.5 11.3-4.5 6.6-6.3 6.8-16.7.6-23.3zm-226.4-83.1c-32.1 0-62.3-12.5-85-35.2-22.7-22.7-35.2-52.9-35.2-84.9 0-32.1 12.5-62.3 35.2-84.9 22.7-22.7 52.9-35.2 85-35.2s62.3 12.5 85 35.2c22.7 22.7 35.2 52.9 35.2 84.9 0 32.1-12.5 62.3-35.2 84.9-22.7 22.7-52.9 35.2-85 35.2z"/></svg>
        <span><%= t("navbar.find_tracking") %></span>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.admin? || current_user.super_admin? %>
        <%= link_to "Admin panel", admin_root_path, 'data-turbolinks': "false", class: "text-black font-semibold mr-3" %>
      <% else %>
        <%= link_to packages_path, class: "flex items-center text-black mr-3" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-5 w-5 mr-1" viewBox="0 0 512 512"><path d="M440.8 129.5L261.7 49.2c-3.6-1.6-7.7-1.6-11.3 0L71.2 129.5c-6 2.7-6.2 11.8-.4 14.8l178.7 94.1c4.1 2.2 8.9 2.2 13 0l178.7-94.1c5.8-3 5.6-12.1-.4-14.8zM280.2 462.9l180.1-95.3c2.2-1.4 3.6-4 3.6-6.8V175.9c0-5.9-5.8-9.7-10.7-7.1l-180.1 92.8c-2.6 1.3-4.2 4.1-4.2 7.1V456c.1 6.2 6.4 10 11.3 6.9zM48 175.9v184.8c0 2.8 1.4 5.4 3.6 6.8l180.1 95.3c5 3.2 11.2-.6 11.2-6.8V268.7c0-3-1.6-5.8-4.2-7.1l-180-92.8c-4.9-2.6-10.7 1.3-10.7 7.1z"/></svg>
          <span><%= t("navbar.packages") %></span>
        <% end %>

        <%= link_to us_address_path, class: "flex items-center text-black mr-3" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-5 w-5" viewBox="0 0 512 512"><path d="M256 48c-79.5 0-144 59.9-144 133.7 0 104 144 282.3 144 282.3s144-178.3 144-282.3C400 107.9 335.5 48 256 48zm0 190.9c-25.9 0-46.9-21-46.9-46.9s21-46.9 46.9-46.9 46.9 21 46.9 46.9-21 46.9-46.9 46.9z"/></svg>
          <span><%= t("navbar.my_us_address") %></span>
        <% end %>
      <% end %>

      <span id="tippy-navbar-user" class="h-6 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-6 w-6" viewBox="0 0 512 512"><path d="M256 48C148.5 48 60.1 129.5 49.2 234.1c-.8 7.2-1.2 14.5-1.2 21.9 0 7.4.4 14.7 1.2 21.9C60.1 382.5 148.5 464 256 464c114.9 0 208-93.1 208-208S370.9 48 256 48zm135.8 326.1c-22.7-8.6-59.5-21.2-82.4-28-2.4-.7-2.7-.9-2.7-10.7 0-8.1 3.3-16.3 6.6-23.3 3.6-7.5 7.7-20.2 9.2-31.6 4.2-4.9 10-14.5 13.6-32.9 3.2-16.2 1.7-22.1-.4-27.6-.2-.6-.5-1.2-.6-1.7-.8-3.8.3-23.5 3.1-38.8 1.9-10.5-.5-32.8-14.9-51.3-9.1-11.7-26.6-26-58.5-28h-17.5c-31.4 2-48.8 16.3-58 28-14.5 18.5-16.9 40.8-15 51.3 2.8 15.3 3.9 35 3.1 38.8-.2.7-.4 1.2-.6 1.8-2.1 5.5-3.7 11.4-.4 27.6 3.7 18.4 9.4 28 13.6 32.9 1.5 11.4 5.7 24 9.2 31.6 2.6 5.5 3.8 13 3.8 23.6 0 9.9-.4 10-2.6 10.7-23.7 7-58.9 19.4-80 27.8C91.6 341.4 76 299.9 76 256c0-48.1 18.7-93.3 52.7-127.3S207.9 76 256 76c48.1 0 93.3 18.7 127.3 52.7S436 207.9 436 256c0 43.9-15.6 85.4-44.2 118.1z"/></svg>
      </span>
      <div id="tippy-navbar-user-template" style="display: none;">
        <ul class="list-reset text-lg">
          <li><%= link_to t("navbar.edit_account"), edit_user_registration_path %></li>
          <li><%= link_to t("navbar.logout"), destroy_user_session_path, method: :delete, class: "text-red-light" %></li>
        </ul>
      </div>
    <%# not signed in %>
    <% else %>
      <div class="flex">
        <%= link_to t("devise.shared.links.sign_in"), new_user_session_path, 'data-turbolinks': "false", class: "mr-2" %>
        <%= link_to t("devise.shared.links.sign_up"), new_user_registration_path, 'data-turbolinks': "false" %>
      </div>
    <% end %>
  </nav>
</div>
