<header class="w-100 pa3 ph5-ns bg-white">
  <div class="db dt-ns mw9 center w-100">
    <div class="db dtc-ns v-mid tl w-30-ns">
      <%= link_to root_path, class: "link ma0 pa0" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="dib v-btm mr1" viewBox="0 0 230 230">
          <path d="M89.218357 60.029672c-8.756308-.681079-14.691165-.875664-21.647544-.681133-6.956379.19453-14.934382.778287-23.204213 2.042998-8.269832 1.264712-16.831593 3.210567-22.18307 7.296393-5.351477 4.085826-7.491916 10.312559-6.957106 16.296495.534809 5.983936 3.74547 11.724209 9.157571 18.401185 5.412101 6.67698 13.209332 14.47421 21.65475 21.36291 8.445419 6.88869 17.688225 13.01813 26.882424 18.75842 9.194199 5.74028 18.339714 11.09138 26.220472 15.42092 7.880759 4.32953 14.498409 7.63836 12.990659 5.69298-1.50776-1.94538-11.14229-9.14695-19.898693-16.34665-8.756403-7.1997-16.637113-14.39936-23.009834-20.52884-6.372722-6.12949-11.237329-11.18868-16.393915-17.95064-5.156586-6.76196-10.604978-15.226431-11.236812-21.648137-.631833-6.421707 3.551755-10.79988 8.221914-13.766977 4.670159-2.967097 9.833086-4.525716 16.05659-5.984066 6.223505-1.45835 13.52046-2.820448 22.909152-3.695993 9.388692-.875545 20.869208-1.264714 20.820498-2.042996-.04872-.778281-11.626535-1.945791-20.382843-2.626869z" fill="rgb(88, 86, 214)" stroke="rgb(88, 86, 214)"/><path d="M50.009061 36.436223c10.604038 1.89706 23.642319 4.329576 35.317081 6.761827 11.674762 2.432252 21.988448 4.864726 32.155178 7.345606 10.16673 2.480879 20.18857 5.010664 28.06922 7.345707 7.88064 2.335042 13.62091 4.475482 20.18811 7.248321 6.56719 2.772839 13.96145 6.17809 22.03655 11.820991 8.0751 5.6429 16.77351 13.47146 21.22959 23.019747 4.45608 9.548288 4.55273 20.565458 1.05033 31.268358-3.50239 10.70291-10.60155 21.01127-10.26085 21.44929.34071.43802 8.12117-8.99578 13.27743-17.6549 5.15627-8.65912 7.68587-16.53982 8.75586-22.66912 1.06999-6.1293.68082-10.50747-.19488-14.253025-.8757-3.745551-2.2378-6.858921-4.23227-10.361334-1.99447-3.502414-4.59691-7.357873-7.88644-10.892878-3.28953-3.535004-7.14489-6.619295-12.39867-9.78133-5.25378-3.162035-11.86953-6.37262-19.3126-9.388782-7.44306-3.016163-15.71183-5.837273-24.51738-8.269787-8.80555-2.432513-18.14498-4.475513-28.16652-6.324159-10.02154-1.848646-20.72207-3.502364-31.960209-5.010529-11.238134-1.508164-23.008885-2.870069-34.782051-3.891733-11.773165-1.021665-23.544032-1.702624-25.34413-1.362037-1.800097.340588 6.372614 1.702706 16.976651 3.599767z" fill="rgb(88, 86, 214)" stroke="rgb(88, 86, 214)"/><path d="M51.905819 164.13294c8.026688 6.51861 15.421019 11.09142 22.134223 14.59393 6.713204 3.50251 12.745581 5.93493 21.0639 7.15098 8.318318 1.21606 18.924128 1.21606 28.798998-1.36229 9.87488-2.57835 19.02126-7.73535 27.16693-13.69361 8.14566-5.95826 15.39901-12.81954 24.15522-24.05694 8.7562-11.2374 19.06923-26.90152 20.86906-27.97176 1.79984-1.07024-4.91215 12.45103-10.11822 22.61993-5.20606 10.16891-8.90252 16.97818-13.12161 23.14119-4.21909 6.16302-9.01143 11.73778-13.19584 15.97102-4.1844 4.23324-7.78344 7.15138-12.19804 10.18957-4.41459 3.03818-9.49818 6.10751-16.21235 8.24836-6.71417 2.14085-14.98216 3.3081-23.10685 2.91896-8.12469-.38914-16.101609-2.33473-23.204493-5.351-7.102885-3.01626-13.329063-7.10219-19.65333-12.30755-6.324266-5.20535-12.745337-11.52913-19.170414-18.91307-6.425077-7.38393-12.933306-15.93205-11.846557-15.98137 1.086748-.0493 9.612684 8.28503 17.639373 14.80365z" fill="rgb(88, 86, 214)" stroke="rgb(88, 86, 214)"/>
        </svg>
        <span class="dib f5 f4-ns mt1 mb2 black-70">
          <%= SiteSetting.first.site_name %>
        </span>
      <% end %>

      <span id="tippy-navbar" class="dib v-mid pointer ml2">
        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <rect x="2" y="4" width="16" height="1"></rect> <rect x="2" y="9" width="16" height="1"></rect> <rect x="2" y="14" width="16" height="1"></rect></svg>
      </span>
      <div id="tippy-navbar-template" style="display: none;">
        <ul class="list pl0 ml0">
          <li>
            <%= link_to t("navbar.services"), page_path(slug: "services"), class: "db tl f6 fw6 link black-70 w-100 pa3 bb br2 br--top b--black-10 hover-bg-near-white" %>
          </li>
          <li>
            <%= link_to t("navbar.about_us"), page_path(slug: "about-us"), class: "db tl f6 fw6 link black-70 w-100 pa3 bb b--black-10 hover-bg-near-white" %>
          </li>
          <li>
            <%= link_to t("navbar.pricing"), page_path(slug: "pricing"), class: "db tl f6 fw6 link black-70 w-100 pa3 bb b--black-10 hover-bg-near-white" %>
          </li>
          <li>
            <%= link_to t("navbar.terms"), page_path(slug: "terms-and-conditions"), class: "db tl f6 fw6 link black-70 w-100 pa3 bb b--black-10 hover-bg-near-white" %>
          </li>
          <li>
            <%= link_to t("navbar.working_hours"), page_path(slug: "working-hours"), class: "db tl f6 fw6 link black-70 w-100 pa3 bb b--black-10 hover-bg-near-white" %>
          </li>
          <li>
            <%= link_to t("navbar.contact_us"), page_path(slug: "contact-us"), class: "db tl f6 fw6 link black-70 w-100 pa3 br2 br--bottom hover-bg-near-white" %>
          </li>
        </ul>
      </div>
    </div>

    <nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
      <%= link_to t("navbar.find_tracking"), find_tracking_path, class: "f6 fw6 link black-70 dim mr3 dib v-mid" %>

      <% if user_signed_in? %>
        <% if current_user.admin? || current_user.super_admin? %>
          <%= link_to "Admin panel", admin_root_path, class: "f6 fw6 link els-blue dim ml3-ns mr2 mr3-m mr4-l dib v-mid" %>
        <% else %>
          <%= link_to packages_path, class: "f6 fw6 link black-70 mr2 mr3-ns dib" do %>
            <svg class="v-mid mr1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="16" height="16"
                viewBox="0 0 16 16"
                style="fill: rgba(0, 0, 0, .7);"><g id="surface1"><path d="M 4.703125 2 C 4.269531 2 3.859375 2.1875 3.574219 2.511719 L 2.371094 3.890625 C 2.371094 3.886719 2.371094 3.886719 2.367188 3.890625 C 2.132813 4.160156 2 4.515625 2 4.875 L 2 12.5 C 2 13.324219 2.675781 14 3.5 14 L 12.5 14 C 13.324219 14 14 13.324219 14 12.5 L 14 4.875 C 14 4.515625 13.867188 4.160156 13.628906 3.890625 C 13.628906 3.886719 13.628906 3.886719 13.628906 3.890625 L 12.425781 2.511719 C 12.140625 2.1875 11.726563 2 11.296875 2 Z M 4.703125 3 L 11.296875 3 C 11.441406 3 11.578125 3.0625 11.671875 3.171875 L 12.398438 4 L 3.601563 4 L 4.328125 3.171875 C 4.421875 3.0625 4.558594 3 4.703125 3 Z M 3 5 L 13 5 L 13 12.5 C 13 12.78125 12.78125 13 12.5 13 L 3.5 13 C 3.21875 13 3 12.78125 3 12.5 Z M 6 6 L 6 7 L 10 7 L 10 6 Z M 9.5 8 L 9 9 L 9 10 L 10 10 L 10 9 Z M 11.5 8 L 11 9 L 11 10 L 12 10 L 12 9 Z M 9 11 L 9 12 L 12 12 L 12 11 Z "></path></g></svg>
            <span class="v-mid dim"><%= t("navbar.packages") %></span>
          <% end %>

          <%= link_to us_address_path, class: "f6 fw6 link black-70 mr2 mr3-m mr4-l dib v-mid" do %>
            <svg class="v-mid" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="16" height="16"
                  viewBox="0 0 16 16"
                  style="fill: rgba(0, 0, 0, .7);"><g id="surface1"><path d="M 8 1 C 5.246094 1 3 3.246094 3 6 C 3 6.773438 3.316406 7.621094 3.753906 8.515625 C 4.191406 9.414063 4.761719 10.351563 5.335938 11.207031 C 6.476563 12.921875 7.613281 14.316406 7.613281 14.316406 L 8 14.792969 L 8.386719 14.316406 C 8.386719 14.316406 9.523438 12.921875 10.667969 11.207031 C 11.238281 10.351563 11.808594 9.414063 12.246094 8.515625 C 12.683594 7.621094 13 6.773438 13 6 C 13 3.246094 10.753906 1 8 1 Z M 8 2 C 10.214844 2 12 3.785156 12 6 C 12 6.46875 11.753906 7.246094 11.347656 8.078125 C 10.941406 8.914063 10.386719 9.820313 9.835938 10.65625 C 8.917969 12.03125 8.292969 12.789063 8 13.15625 C 7.707031 12.789063 7.082031 12.03125 6.164063 10.65625 C 5.613281 9.820313 5.058594 8.914063 4.652344 8.078125 C 4.246094 7.246094 4 6.46875 4 6 C 4 3.785156 5.785156 2 8 2 Z M 8 5 C 7.449219 5 7 5.449219 7 6 C 7 6.550781 7.449219 7 8 7 C 8.550781 7 9 6.550781 9 6 C 9 5.449219 8.550781 5 8 5 Z "></path></g></svg>
            <span class="v-mid dim"><%= t("navbar.my_us_address") %></span>
          <% end %>
        <% end %>

        <span id="tippy-navbar-user" class="dib v-mid pointer">
          <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <circle fill="none" stroke="#000" stroke-width="1.1" cx="9.9" cy="6.4" r="4.4"></circle> <path fill="none" stroke="#000" stroke-width="1.1" d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2"></path></svg>
        </span>
        <div id="tippy-navbar-user-template" style="display: none;">
          <ul class="list pl0 ml0">
            <li>
              <%= link_to t("navbar.edit_account"), edit_user_registration_path, class:"db tl f6 fw6 link black-70 w-100 pa3 bb br2 br--top b--black-10 hover-bg-near-white" %>
            </li>
            <li>
              <%= link_to t("navbar.logout"), destroy_user_session_path, method: :delete, class: "db tl f6 fw6 link black-70 w-100 pa3 br2 br--bottom hover-bg-near-white" %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="flex justify-between items-center dib-ns mt3 mt0-ns">
          <div class="dib-ns">
            <%= link_to t("devise.shared.links.sign_in"), new_user_session_path, 'data-turbolinks': "false", class: "f6 fw6 dim no-underline br2 ph3 pv2 mr2 dib v-mid els-purple ba b--els-purple" %>
            <%= link_to t("devise.shared.links.sign_up"), new_user_registration_path, 'data-turbolinks': "false", class: "f6 fw6 dim no-underline br2 ph3 pv2 mr2 mr3-ns dib v-mid white ba b--els-purple bg-els-purple" %>
          </div>

          <div class="dib-ns v-mid pt0 pt1-ns">
            <%= link_to({ locale: "ru" }, class: "link mr1") do %>
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;"><g id="surface1"><path style=" fill:#FF3D00;" d="M 2 29 L 46 29 L 46 39 L 2 39 Z "></path><path style=" fill:#3F51B5;" d="M 2 19 L 46 19 L 46 29 L 2 29 Z "></path><path style=" fill:#E0E1E2;" d="M 2 9 L 46 9 L 46 19 L 2 19 Z "></path></g></svg>
            <% end %>
            <%= link_to({ locale: "en" }, class: "link") do %>
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;"><g id="surface1"><path style=" fill:#ECEFF1;" d="M 1.996094 10 L 45.996094 10 L 45.996094 37 L 1.996094 37 Z "></path><path style=" fill:#F44336;" d="M 2 10 L 46 10 L 46 13 L 2 13 Z "></path><path style=" fill:#F44336;" d="M 2 16 L 46 16 L 46 19 L 2 19 Z "></path><path style=" fill:#F44336;" d="M 2 22 L 46 22 L 46 25 L 2 25 Z "></path><path style=" fill:#F44336;" d="M 2 28 L 46 28 L 46 31 L 2 31 Z "></path><path style=" fill:#F44336;" d="M 2 34 L 46 34 L 46 37 L 2 37 Z "></path><path style=" fill:#3F51B5;" d="M 2 10 L 23 10 L 23 25 L 2 25 Z "></path><path style=" fill:#FFFFFF;" d="M 4.25 12 L 4.714844 12.988281 L 5.75 13.144531 L 5 13.914063 L 5.179688 15 L 4.25 14.488281 L 3.320313 15 L 3.5 13.914063 L 2.75 13.144531 L 3.785156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 8.25 12 L 8.714844 12.988281 L 9.75 13.144531 L 9 13.914063 L 9.179688 15 L 8.25 14.488281 L 7.320313 15 L 7.5 13.914063 L 6.75 13.144531 L 7.785156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 12.25 12 L 12.714844 12.988281 L 13.75 13.144531 L 13 13.914063 L 13.179688 15 L 12.25 14.488281 L 11.320313 15 L 11.5 13.914063 L 10.75 13.144531 L 11.785156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 16.25 12 L 16.714844 12.988281 L 17.75 13.144531 L 17 13.914063 L 17.179688 15 L 16.25 14.488281 L 15.320313 15 L 15.5 13.914063 L 14.75 13.144531 L 15.785156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 20 12 L 20.464844 12.988281 L 21.5 13.144531 L 20.75 13.914063 L 20.929688 15 L 20 14.488281 L 19.070313 15 L 19.25 13.914063 L 18.5 13.144531 L 19.535156 12.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 4.25 20 L 4.714844 20.988281 L 5.75 21.144531 L 5 21.914063 L 5.179688 23 L 4.25 22.488281 L 3.320313 23 L 3.5 21.914063 L 2.75 21.144531 L 3.785156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 8.25 20 L 8.714844 20.988281 L 9.75 21.144531 L 9 21.914063 L 9.179688 23 L 8.25 22.488281 L 7.320313 23 L 7.5 21.914063 L 6.75 21.144531 L 7.785156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 12.25 20 L 12.714844 20.988281 L 13.75 21.144531 L 13 21.914063 L 13.179688 23 L 12.25 22.488281 L 11.320313 23 L 11.5 21.914063 L 10.75 21.144531 L 11.785156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 16.25 20 L 16.714844 20.988281 L 17.75 21.144531 L 17 21.914063 L 17.179688 23 L 16.25 22.488281 L 15.320313 23 L 15.5 21.914063 L 14.75 21.144531 L 15.785156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 20 20 L 20.464844 20.988281 L 21.5 21.144531 L 20.75 21.914063 L 20.929688 23 L 20 22.488281 L 19.070313 23 L 19.25 21.914063 L 18.5 21.144531 L 19.535156 20.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 5.25 16 L 5.714844 16.988281 L 6.75 17.144531 L 6 17.914063 L 6.179688 19 L 5.25 18.488281 L 4.320313 19 L 4.5 17.914063 L 3.75 17.144531 L 4.785156 16.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 9.25 16 L 9.714844 16.988281 L 10.75 17.144531 L 10 17.914063 L 10.179688 19 L 9.25 18.488281 L 8.320313 19 L 8.5 17.914063 L 7.75 17.144531 L 8.785156 16.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 13.25 16 L 13.714844 16.988281 L 14.75 17.144531 L 14 17.914063 L 14.179688 19 L 13.25 18.488281 L 12.320313 19 L 12.5 17.914063 L 11.75 17.144531 L 12.785156 16.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 17.25 16 L 17.714844 16.988281 L 18.75 17.144531 L 18 17.914063 L 18.179688 19 L 17.25 18.488281 L 16.320313 19 L 16.5 17.914063 L 15.75 17.144531 L 16.785156 16.988281 Z "></path><path style=" fill:#FFFFFF;" d="M 21 16 L 21.464844 16.988281 L 22.5 17.144531 L 21.75 17.914063 L 21.929688 19 L 21 18.488281 L 20.070313 19 L 20.25 17.914063 L 19.5 17.144531 L 20.535156 16.988281 Z "></path></g></svg>
            <% end %>
          </div>
        </div>
      <% end %>
    </nav>
  </div>
</header>
