<%= content_for :title do %>
  <%= t(".title") %>
<% end %>

<div class="text-center max-w-sm mx-auto">
  <h1 class="mb-3"><%= t(".title") %></h1>
  <p class="mb-4"><%= t(".how_to").html_safe %></p>
  <%= form_with url: find_tracking_path, method: :get do |f| %>
    <%= f.text_field :q, placeholder: t(".tracking"), class: "form-field mb-3" %>
    <%= f.submit t(".search"), class: "btn btn-primary" %>
  <% end %>

  <div id="package" class="mt-6"></div>
</div>
