<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <%= t(".title") %>
      - <%= SiteSetting.first.site_name %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "print", media: "all" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
